.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color:rgb(125, 125, 244);
}
.header{
    background-color: rgb(125, 125, 244);
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    padding-left: 180px;
    padding-top: 20px;
    padding-bottom: 10px;
   
   
}
.header button{
    background-color: rgb(125, 125, 244);
    color: white;
    border: none;
    font-family: 'Playfair', serif;
    font-weight: 100;
    font-size:medium;
    font-style: italic;
    cursor: pointer;
    transform: all 0.1s;

}
.header button:hover{
     color: rgb(209, 171, 171);
    
     
}
.slide-bar{
    display: flex;
    flex-direction: column;
    background-color: rgb(125, 125, 244);
    text-align: center;
   
    
}
.main-image img{
    width: 100%;
    border-radius: 8px;
    position: relative;
    margin-bottom: 0px;
}
body{
    height: 2000px;
}
.logo img{
    width: 40%;
    padding: 90px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 60%;
    
}
.main-image .float{
    position: absolute;
    top: 75%;
    left: 15%;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.main-image .float-name{
    position: absolute;
    top: 80%;
    left: 15%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: xx-large;
}
.main-image .profession{
    position: absolute;
    top: 90%;
    left: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: white;
}
.float-name{
    margin-top: 10px;
}
.name{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
}
.about{
   font: 1em sans-serif;
    text-align: center;
    line-height: 5px;
    font-size: medium;
    color: rgb(255, 255, 255);
    font-family: 'EB Garamond', serif;
    margin-bottom: 40px;

}
.visit-us{
    font-size: medium;
    color: rgb(255, 255, 255);
    font: 1em sans-serif;
    font-size: small;
    line-height: 5px;
    margin-top: 0%;
}

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    text-decoration: none;
  color: white;
}

.fa-twitter {
    text-decoration: none;
  color: white;
}



.fa-linkedin {
    text-decoration: none;
  color: white;
}


.fa-instagram {
    text-decoration: none;
  color: white;
}
.ids{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 15px;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    font-size: 15px;
   
    
}
.visit-us a{
    text-decoration: none;
    color: white;
}
.about-self{
    background-color: aliceblue;
    padding: 50px 220px 50px 180px;
    text-decoration: none;
    font-size: medium;
    font-family:'Playfair', serif; ;
}
h2{
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2.4px;
    letter-spacing: -1px; 
    font-style: italic;
    color: rgb(27, 99, 207);

}
h5{
 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2.4px;
    
    color: rgb(27, 99, 207);
}
.about-self p{
    line-height: 30px;
}
.education-experience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7%;
    padding: 40px 180px 40px 180px;
    background-color: aliceblue;
}
.education-experience h2{
    color: rgb(27, 99, 207);
}
.education-experience h5{
    color: rgb(27, 99, 207);
}

.skills-language{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 180px 40px 180px;
    text-decoration: none;
    background-color: (244, 244, 250);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: small;
    letter-spacing:1px;
    line-height: 15px;
    background-color: aliceblue;
}
.prog-container{
    border-radius: 6px;
    height: 2px;
    width: 100%;
    margin: 9px;
    float: left;
    transition: all .3s ease-in-out;
    background-color: rgb(244, 244, 250);
}
.prog-container:hover{
    background-color: blue;
    width: 70%;
}
.progress{
    padding-top: 60px;
}
.progress div:hover{
    cursor: pointer;
    background-color: blue;
    height: 3.5px;
}
.skills-languages div{
    margin:0px 0px 5px 0px;
}
.awards-interest{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 180px 40px 180px;
    text-decoration: none;
    background-color: (244, 244, 250);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: small;
    letter-spacing:1px;
    line-height: 15px;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 180px 40px 180px;
    text-decoration: none;
    font-size: small;
    letter-spacing:1px;
    line-height: 15px;
    background-color:rgb(187, 209, 232)
}
.left h2{
    color:#646161;
    font-size: xx-large;
    text-decoration: none;
    font-weight: lighter;
    font-style: italic;
}
.ids-below{
    display: flex;
    flex-direction: row;
    
    gap: 15px;
    
    margin-top: 60px;
    justify-content: start;
    font-size: 15px;
}
.right .visit-us{
    font-size: medium;
    color: rgb(18, 14, 14);
    font: 1em sans-serif;
    font-size: small;
    line-height: 10px;
    margin-top: 20%;
}
.right .visit-us a{
    color: rgb(18, 14, 14);
    
}
.fotter{
    width: 100%;
    height: 45px;
    background-color:rgb(125, 125, 244);
    font-size: smaller;
    padding-left: 60px;
    padding-top: 20px;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
.up img{
    width:20px;
    height: 20px;
    border: none;
    cursor: pointer;
    
    
}
.up{
    margin-left: 590px;
}
